/* -----------overrides accessibility features -------------- */
input:focus, textarea:focus, select:focus{
  outline: none;
}

/* ------------------website -------------------- */

* {
  font-family: 'Questrial', sans-serif;
}

body{
  background-color: black;
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(15, 184, 0);
}

/*  -----------------welcome page----------------- */

/* #black-overlay {
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

#welcome-log-in-button{
  background-color: white;
  color: black;
}

#welcome-log-in-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#welcome-sign-up-button{
  background-color: white;
  color: black;
}

#welcome-sign-up-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
} */

/*  --------------------sign up------------------------ */

#sign-up-form {
  width: 100%;
  padding-right: 300px;
  padding-left: 300px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

#sign-up-button{
  background-color: rgb(43, 43, 43);
  color: white;
}

#sign-up-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#email{
  background-color: rgb(43, 43, 43);
  color: white;
}

#firstName{
  background-color: rgb(43, 43, 43);
  color: white;
}

#password1{
  background-color: rgb(43, 43, 43);
  color: white;
}

#password2{
  background-color: rgb(43, 43, 43);
  color: white;
}

/* --------------------log in --------------------------- */

#log-in-form {
  width: 100%;
  padding-right: 300px;
  padding-left: 300px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

#login-button{
  background-color: rgb(43, 43, 43);
  color: white;
}

#login-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#email{
  background-color: rgb(43, 43, 43);
  color: white;
}

#password{
  background-color: rgb(43, 43, 43);
  color: white;
}

/* ---------------------trail upload-------------------- */

#trail_name {
  background-color: rgb(43, 43, 43);
  color: white;
}

#date {
  background-color: rgb(43, 43, 43);
  color: white;
}

#autocomplete {
  background-color: rgb(43, 43, 43);
  color: white;
}

#notes {
  background-color: rgb(43, 43, 43);
  color: white;
}

#upload-trail-form {
  width: 90%;
  padding-right: 75px;
  padding-left: 75px;
  margin-right: auto;
  margin-left: auto;
}

form {
  display: block;
  margin-top: 2em;
}

.form-group{
  color: white;
}

.form-control{
  background-color: rgb(43, 43, 43);
  color: white;
}

.form-select{
  background-color: rgb(43, 43, 43);
  color: white;
  padding: 7px;
  margin-left: -16px;
  margin-right: -6px;
  border-radius: 5px;
}

#terrain {
  font-size: medium;
  padding:10px;
  width: 200px;
  }

#difficulty {
font-size: medium;
padding:10px;
width: 200px;
}

#miles{
  background-color: rgb(43, 43, 43);
  color: white;
  width: 75px;
  border-radius: 5px;
}

#hours{
  background-color: rgb(43, 43, 43);
  color: white;
  width: 85px;
  border-radius: 5px;
}

#minutes{
  background-color: rgb(43, 43, 43);
  color: white;
  width: 95px;
  border-radius: 5px;
}

#elevation{
  background-color: rgb(43, 43, 43);
  color: white;
  width: 138px;
  border-radius: 5px;
  margin-right:-15px;
}

#notes{
  margin-top: 1em;
}

#photo-upload{
  color: white;
}

#trail-upload{
  background-color: rgb(65, 65, 65);
  color: white;
  margin-top: 11px;
  width: 20%;
  margin-bottom: 100px;
}

#trail-upload:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#add-media{
  background-color: rgb(43, 43, 43);
  color: white;
  width: 103%;
}

#add-media:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#cover-photo-button{
  background-color: rgb(43, 43, 43);
  color: white;
  font-size: 1rem;
  margin-left: -14px;
  width: 103%;
}

#cover-photo-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#map-pdf-button{
  background-color: rgb(43, 43, 43);
  color: white;
  font-size: 1rem;
  margin-left: -14px;
  width: 103%;
  margin-top: 11px;
}

#map-pdf-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#media-uploader input[type="file"] {
  padding:0;
  margin-left: 0px;
  color:white;
  font-size: medium;
}

.media-btn {
  margin-left: -14px;
  margin-top:-5px;
  color: #455357;
  font-size: medium;
}
  
.add-media {
  margin: 12px;
  width: 100%;
  color: white;
  font-size: medium;
}
  
.media-input{
  font-size: medium;
}
        
.mediatitle-btn{
  border-radius: 25px;
  font-size: medium;
}
          
#list {
  list-style: none;
  padding-left: 0;
  margin-left: -26px;
  color: white;
  font-size: medium;
}

#location-text{
  font-size: 11px;
}

#miles::placeholder {
  color: rgb(255, 255, 255);
  font-size: medium;
  overflow: visible;
}

#hours::placeholder {
  color: rgb(255, 255, 255);
  font-size: medium;
  overflow: visible;
  width: 650px;
}

#minutes::placeholder {
  color: rgb(255, 255, 255);
  font-size: medium;
  overflow: visible;
}

#elevation::placeholder {
  color: rgb(255, 255, 255);
  font-size: medium;
  overflow: visible;
}

#autocomplete::placeholder {
  color: rgb(255, 255, 255);
  font-size: medium;
  overflow: visible;
}

#trail_name::placeholder {
  color: rgb(255, 255, 255);
  font-size: medium;
  overflow: visible;
}

#notes::placeholder {
  color: rgb(255, 255, 255);
  font-size: medium;
  overflow: visible;
}

/* ----------------------display feed------------------------ */

#searchBar{
  background-color: rgb(53, 53, 53);
  color: white;
}

#trail-card{
  background-color: rgb(53, 53, 53);
  color: white;
}

.list-group-item{
  background-color: rgb(48, 48, 48);
  color: white;
}

#location-link{
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: medium;
  margin-left: -10px;
}

#location-link:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#notes-modal-btn{
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: medium;
}

#notes-modal-btn:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#photo-modal-btn{
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: medium;
}

#photo-modal-btn:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#delete-trail-button{
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: medium;
}

#delete-trail-button:hover{
  background-color: rgb(128, 21, 2);
  color: white;
}

#share-trail-button{
  background-color: rgb(48, 48, 48);
  color: white;
  font-size: medium;
}

#share-trail-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

#modal-body{
  color: black;
}

#modal-header{
  color: black;
}

.btn {
  background-color: rgb(65, 65, 65);
  color: white;
}

.btn:hover {
  background-color: rgb(15, 184, 0);
  color: white;
}

#notes-button{
  background-color: rgb(65, 65, 65);
  color: white;
  font-size: small;
}

#notes-button:hover{
  background-color: rgb(15, 184, 0);
  color: white;
}

.card-img-top {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}

/* Card hover feature */
/* .card-group .card-primary:hover {
  box-shadow: 0 40px 60px -20px rgba(4, 1, 26, 0.15);
  z-index: 100;
}
.card-group .card-primary:hover .card-title{
  color: #7e7e7e;
  background: transparent;
}

.card {
  box-shadow: 0 10px 15px rgba(0,0,0,0.3); 
  transition: .5s;
}

.card:hover {
  transform:scale(1.1);
} */

/* ---------------charts-------------- */


#terrainChart {
  display: block;
  box-sizing: border-box;
  height: 400px;
  width: 400px;
}

#difficultyChart {
  display: block;
  box-sizing: border-box;
  height: 400px;
  width: 400px;
}


/* ---------------photo and notes modals-------------- */

.img-size{
  /* 	padding: 0;
    margin: 0; */
    height: 450px;
    width: 700px;
    background-size: cover;
    overflow: hidden;
  }

  .modal-content {
    width: 700px;
    border:none;
  }

  .modal-body {
     padding: 0;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
  }
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
  }

  .modal-content {
    width: 700px;
    border:none;
  }

  .modal-body {
     padding: 0;
  }

  #notes-modal-body {
    padding: 35px;
 }

 #notesModalLabel{
  padding: 12px;
 }