/* -------overrides accessibility features----- */
input:focus, textarea:focus, select:focus{
  outline: none;
}

/* --------website-------- */
* {
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: black;
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(255, 149, 50);
}

/* ---------------welcome page-------------- */

#black-overlay {
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

/* ---------------sign up--------------------- */

#sign-in-button{
  background-color: rgb(110, 110, 110);
  color: white;
}

#sign-in-button:hover{
  background-color: rgb(255, 149, 50);
  color: white;
}

#sign-up-form {
  width: 100%;
  padding-right: 300px;
  padding-left: 300px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

/* -----------------log in--------------------- */

#login-button{
  background-color: rgb(110, 110, 110);
  color: white;
}

#login-button:hover{
  background-color: rgb(255, 149, 50);
  color: white;
}

#log-in-form {
  width: 100%;
  padding-right: 300px;
  padding-left: 300px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

/* ----------------trail upload---------------- */

#upload-trail-form {
  width: 100%;
  padding-right: 75px;
  padding-left: 75px;
  margin-right: auto;
  margin-left: auto;
}

form {
  display: block;
  margin-top: 2em;
}

.form-group{
  color: white;
}

#notes{
  margin-top: 1em;
}

#track-trail{
  color: rgb(255, 149, 50);
}

#stats{
  color: white;
}

#photo-upload{
  color: white;
}

#trail-upload{
  background-color: rgb(255, 149, 50);
}

/* ---------------display feed---------------- */

#card{
  background-color: rgb(29, 29, 29);
  margin-top: 25px;
  color: white;
}

.card-title{
  color: white;
}

#location-button{
  background-color: rgb(255, 149, 50);
  color: white;
}

#cover-image{
  width: 250px;
}