{% extends 'base.html' %}

{% block content %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
    </div>

    <div class="row" id="doughnut-chart-row">
        <div class="col-12">
            <canvas id="terrainChart" class="mb-5"></canvas>
        </div>
    </div>
        <div class="row" id="doughnut-chart-row">
            <div class="col-12">
                <canvas id="difficultyChart" class="mb-5"></canvas>
            </div>
        </div>
    </div>
        
</div>

<script>

// $.get('/trail-chart/terrain.json', (res) => {
//     let terrainChart = document.getElementById("terrainChart").getContext("2d");
//     let colors = ['#DD571C', '#FF8400', '#B8BEDD', '#4E4C67', '#B28B84', '#4E4C67', '#B28B84'];

//     let chart = new Chart(terrainChart, {
//         type: "bar",
//         data: {
//             labels: res.labels,
//             datasets: [
//                 {
//                     label: res.labels,
//                     data: res.values,
//                     backgroundColor: colors,
//                 }
//             ]
//         },
//         options: {
//             legend: {
//                 display: true,
//             },
//             scales: {
//                 yAxes: [{
//                     scaleLabel:{
//                         display: true,
//                         labelString: "Number of Trails"},
//                     ticks: {
//                         max: 10,
//                         min: 0,
//                         stepSize: 1
//                     }
//                 }],
//                 xAxes: [{
                        
//                     }
//                 ]
//             }
//         }
//     })
// });


$.get('/trail-chart/difficulty.json', {}, (res) => {

let difficultyChart = document.getElementById("difficultyChart").getContext("2d");
let colors = ['#DD571C', '#FF8400', '#FFA500',];

let chart = new Chart(difficultyChart, {
    type: "doughnut",
    data: {
        labels: res.labels,
        datasets: [
            {
                label: "Difficulty",
                data: res.values,
                backgroundColor: colors,
            }
        ]
    },
    options: {
    }

})
});

$.get('/trail-chart/terrain.json', {}, (res) => {

        let terrainChart = document.getElementById("terrainChart").getContext("2d");
        let colors = ['#DD571C', '#FF8400', '#B8BEDD', '#4E4C67', '#B28B84'];
    
        let chart = new Chart(terrainChart, {
            type: "doughnut",
            data: {
                labels: res.labels,
                datasets: [
                    {
                        label: "Terrain",
                        data: res.values,
                        backgroundColor: colors,
                    }
                ]
            },
            options: {
            }
    
        })
        });

</script>

{%endblock%}

{%endblock%}