{% extends 'base.html' %} {% block title %}Feed{% endblock %}

{% block content %}

{% block body %}

<form>
  <div class="form-group">
    <div id="card-top" class="row justify-content-center">
      <input type="text" class="form-control search-bar" name="searchBar" id="searchBar" placeholder="Search" />
    </div>
  </div>
</form>

<div class="row">
  {% for trail in trails %}
  <div class="column">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{{ trail.image_url }}" alt="Image goes here" style="width:450px;height:450px;">
        </div>
        <div class="flip-card-back">
          <div id="card-contents">
            <h1>{{ trail.trail_name }}</h1>
            <p>{{ trail.date.strftime("%A, %B %d, %Y") }}</p>
            <p>{{ trail.location }}</p>
            <p>Miles: {{ trail.miles }}</p>  
            <p>Hours: {{ trail.hours }} Minutes: {{ trail.minutes }}</p>
            <p>Pace: {{ ((trail.hours*60+trail.minutes)/trail.miles)|round }} min/mile</p>
            <p>Notes: {{ trail.notes }}</p>
            <a href="http://maps.google.com/?q={{ trail.location }}" class="btn btn-light">Location</a>
          </div>
        </div>
      </div>   
    </div>  
  </div>
  {% endfor %}
</div>

<script>
  const searchBar = document.getElementById('searchBar');
  const text = document.getElementsByClassName("flip-card");

  function searchCards(queryString) {
    return Object.values(text).filter((t) => !t.innerText.toLowerCase().includes(queryString))
  }

  searchBar.addEventListener('keyup', (evt) => {
    const searchString = evt.target.value;
    let searchResults = searchCards(searchString.toLowerCase())
    for (let i = 0; i < text.length; i++) {
      searchResults.includes(text[i]) ? text[i].style.display = "none" : text[i].style.display = "block"
    }
  });
</script>

{% endblock %}

{% endblock %}