{% extends 'base.html' %} {% block title %}Feed{% endblock %}

{% block content %}

{% block body %}

<form>
  <div class="form-group">
    <div id="card-top" class="row justify-content-center">
      <input type="text" class="form-control search-bar" name="searchBar" id="searchBar" placeholder="Search" />
    </div>
  </div>
</form>

<div class="container bcontent">
  {% for trail in trails %}
  <div class="card" id="card" style="width: 1100px;">
    <div class="row no-gutters">
      <div class="col-sm-5">
        <img class="card-img" id="cover-image" src="{{ trail.cover_image }}" alt="Trail Cover Photo">
      </div>
        <div class="col-sm-7">
          <div class="card-body">
            <h1 class="card-title">{{ trail.trail_name }}</h1>
              <p class="card-text">
                <h4>{{ trail.date.strftime("%A, %B %d, %Y") }}</h4>
                <p>{{ trail.location }}</p>            
                <p>Difficulty: {{ trail.difficulty.title() }}  Trail Type: {{ trail.terrain.title() }}</p>
                <p>{{ trail.miles }} Miles {{ trail.hours }} Hours  {{ trail.minutes }} Minutes Pace: {{ ((trail.hours*60+trail.minutes)/trail.miles)|round }} min/mile</p>  
                <p>Notes: {{ trail.notes }}</p>
              </p>
                <button class="btn" id="photo-album-open" data-trail-id-for-album="{{ trail.id }}">Photo Album</button>
                <a data-fslightbox="gallery" href="{{ trail.cover_image }}">Image</a>
                <a href="http://maps.google.com/?q={{ trail.location }}" class="btn" id="location-button">Location</a>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
</div>



{% endblock %}

{% endblock %}
