{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center align-items-top">
    <img src="static/images/trail-tracker-thin.png" style="height:150px"/>
</div>

  <form method="POST" class="upload-trail" id="upload-trail-form" enctype="multipart/form-data">

      <div class="form-group row">
        <input type="text" id="trail_name" class="form-control" name="trail_name" placeholder="Trail Name" required>
      </div>

      <div class="form-group row">
        <input class="form-control" type="text" id="autocomplete"  name="location" placeholder="Location" onFocus="geolocate()">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCURCwYfhVL8c9nwK8MeKQQGOsiNvb5-3E&libraries=places&callback=initAutocomplete" async defer></script>
      </div>

<div class="input-group cd-flex align-items-center align-items-top" id="stats">

  <input type="date" id="date" class="form-control" name="date" placeholder="Date" required>

  <span class="input-group-btn" style="width:10px;"></span>

  <select name="difficulty" id="difficulty" class="form-select">
    <option selected>Difficulty Level</option>
    <option value="advanced">Advanced</option>
    <option value="intermediate">Intermediate</option>
    <option value="beginner">Beginner</option>
  </select>

  <span class="input-group-btn" style="width:10px;"></span>

  <select name="terrain" id="terrain" class="form-select">
    <option value=None>Terrain</option>
    <option value="mountain">Mountain</option>
    <option value="forest">Forest</option>
    <option value="lake">Lake</option>
    <option value="river">River</option>
    <option value="paved">Paved</option>
  </select>

    <span class="input-group-btn" style="width:10px;"></span>

    <label for="quantity">Miles </label>
    <input type="number" id="miles" name="miles" min="0" max="100"> 

    <span class="input-group-btn" style="width:10px;"></span>

  <label for="quantity">Hours </label>
    <input type="number" id="hours" name="hours" min="0" max="24"> 

    <span class="input-group-btn" style="width:10px;"></span>

  <label for="quantity">Minutes </label>
    <input type="number" id="minutes" name="minutes" min="0" max="59"> 
</div>

      <div class="form-group row">
        <textarea class="md-textarea form-control" id="notes" name="notes" placeholder="Notes" rows="5"></textarea>
      </div>

      <div class="form-group-row media-input" id="photo-upload">
        <input id='image_url' type='file' hidden/>
        <input id='cover-photo-button' class="btn btn-light" type='button' value='Upload Cover Photo' />
      </div>
      
      <div id="media-uploader">
        <ul id="list"></ul>
      </div>

      <div>
        <button class="btn btn-light media-btn" input id="add-media" type="button" name="add-media" value="Add Media">Additional Photos/Videos</button>
      </div>


      <div align="center">
        <button type="submit" class="btn" id="trail-upload">Submit Trail</button>
      </div>

{% endblock %}
